server:
  port: 25000
spring:
  application:
    name: swallowincense-seckill
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    sentinel:
      transport:
        dashboard: localhost:8333
        port: 8719
  redis:
    host: ip
    password: password
  task:
    execution:
      pool:
        core-size: 5
        max-size: 50
  session:
    store-type: redis
  rabbitmq:
    host: ip
    virtual-host: /
    publisher-confirm-type: correlated
    publisher-returns: true
  thymeleaf:
    cache: false
management:
  endpoints:
    web:
      exposure:
        include: *